header {
	background: rgb(3, 110, 78);
	padding: 20px 0;
}


.caixa1 {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.caixa1 h1{
	font-size: 152%; 
	font-weight: bolder;
	color: rgb(0, 0, 0);
	text-align: left;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.caixa2 {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 15px;
	right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 80px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

img{
	max-width: 100%;
	width: 250px;
	height: 250px;
	object-fit: cover;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 25px;
}

.animais{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}

animais img {
    width: 260px;
    height: 360px;
    border-radius: 300px;
    margin: 5px;
    border: 3px solid rgb(5, 148, 24);
}

.copyright {
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding-left:flex;
		justify-content: center;
		background-color: rgb(3, 110, 78);
		padding: 15px;
		position:absolute;
    	bottom:0;
    	width:100%;
		font-size: small;
}

@media only screen and (max-width: 700px) {

	header {
	  background-color: rgb(3, 110, 78);
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}

	.caixa1{
		display: none;
	}

	.menu, .caixa2{
		display: flex;
		flex-direction: column;
	   	justify-content: center;
		align-items: center;
	}

	
	.animais {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
    	bottom:0;
    	width:100%;
		font-size: small;
		bottom:0;
		position: fixed;
		position: fixed;
		left: 0px;
    	right: 0px;
    	margin-bottom: 0px;
	}

	footer a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: -25px;
	}
	.copyright{	
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding-left:flex;
		justify-content: center;
		background-color: rgb(3, 110, 78);
		padding: 15px;
		position:absolute;
    	bottom:0;
    	width:100%;
		font-size: small;
	}
}